<app-navbar></app-navbar>
<div class="bg-image" style="background-image: url('https://v-cg.etsystatic.com/video/upload/q_auto/BG17025_olxkb7.jpg'); min-height:100vh; height: 100%; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-light">Add New Books</h1>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="title">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Author</label>
                        <input type="text" class="form-control" name="author" [(ngModel)]="author">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label text-light">Description</label>
                        <textarea name="" id="" rows="5" class="form-control" name="description" [(ngModel)]="description"></textarea>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Publisher</label>
                        <input type="text" class="form-control" name="publisher" [(ngModel)]="publisher">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Language</label>
                        <input type="text" class="form-control" name="language" [(ngModel)]="language">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Distributor</label>
                        <input type="text" class="form-control" name="distributors" [(ngModel)]="distributors">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Released year</label>
                        <input type="date" class="form-control" name="releasedyear" [(ngModel)]="releasedyear">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Price</label>
                        <input type="text" class="form-control" name="price" [(ngModel)]="price">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Book image upload</label>
                        <input type="file" class="form-control" name="image" [(ngModel)]="image">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button class="btn btn-success" (click)="readValues()">Add Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
